* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    min-height: 100vh;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 12px;
}

li {
    display: inline;
}

.header,
.chunk-a,
.footer {
    background-color: #1F2937;
    color: white;
}

.header {
    flex-grow: 0;
    padding: 10px 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}


.header .logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

.hero {
    flex: 1;
}

.imgbox img {
    width: 100%;
}

.hero, 
ul {
    color: #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.chunk-a {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 40px 12%;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.chunk-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15%;
}

.content-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.chunk-b h2 {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.content p {
    text-align: center;
}

.button1 {
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    border: 0px;
    font-size: 18px;
    padding: 10px 30px;
}

.button:hover {
    box-shadow: 4px 6px 3px 0px #a2adc2;
    transition-duration: .4s;
}

.box {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

.chunk-c {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 60px 15%;
}

.quotebox p {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

.quotebox .quoted {
    text-align: right;
    font-weight: 500;
    margin-top: .5em;
}

.chunk-d {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    margin: 60px 12%;
    padding: 30px 60px;
    border-radius: 10px;
    gap: 10px;
}

.chunk-d div h2, .chunk-d div p {
    color:#f9faf8;
    padding: 0px;
    margin: 0px;
}

.chunk-d .button2 {
    padding: 5px 20px;
    margin: 0px;
    font-size: 18px;
    color: white;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 8px;
    box-sizing: border-box;
}