* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 12px;
}

li {
    display: inline;
}

.header,
.hero {
    background-color: #1F2937;
    color: white;
}

.header {
    flex-grow: 0;
    padding: 10px 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header .logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

.hero {

}

.hero, 
ul {
    color: #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chunk-a {

}

.chunk-b {

}